<a href="https://colab.research.google.com/github/hyojunyee/kita_2404/blob/main/m5_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D/Task/Task_0722.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task1_0722. Adult Income 데이터셋을 이용한 전처리 및 분류 모델(소득이 50K 이상인지 예측)을 아래 설명을 참조하여 수행하세요.

[ 문제 설명 ]

- Adult Income 데이터셋을 로드합니다.
- 결측치를 처리합니다.
- 이상치를 제외합니다.
- 파생 변수를 작성합니다.
- 범주형 변수를 인코딩합니다.
- 변수 선택 및 독립변수 종속변수를 분리합니다.
- 데이터를 표준화합니다.
- 데이터셋을 학습용과 테스트용으로 나눕니다.
- Logistic Regression 모델 생성 및 학습합니다.
- 예측 및 평가합니다.

In [1]:
import pandas as pd

# 1. 데이터 로드
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status',
           'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
           'hours-per-week', 'native-country', 'income']
data = pd.read_csv(url, header=None, names=columns, na_values='?', skipinitialspace=True)

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [3]:
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [25]:
data['occupation'].value_counts()

occupation
Craft-repair         2885
Adm-clerical         2558
Exec-managerial      2342
Prof-specialty       2289
Sales                1880
Other-service        1662
Machine-op-inspct    1496
Transport-moving      956
Handlers-cleaners     863
Tech-support          595
Farming-fishing       469
Protective-serv       409
Priv-house-serv        48
Armed-Forces            6
Name: count, dtype: int64

In [24]:
data['workclass'].value_counts()

workclass
Private             14022
Local-gov            1343
Self-emp-not-inc     1129
State-gov             831
Federal-gov           657
Self-emp-inc          473
Without-pay             3
Name: count, dtype: int64

In [7]:
data['marital-status'].value_counts()

marital-status
Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: count, dtype: int64

In [3]:
# 2. 결측치 처리
data = data.dropna()

In [8]:
data['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [12]:
data['native-country'].value_counts()

native-country
United-States                 29170
Mexico                          643
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

In [18]:
data['education-num'].value_counts()

education-num
9     10501
10     7291
13     5355
14     1723
11     1382
7      1175
12     1067
6       933
4       646
15      576
5       514
8       433
16      413
3       333
2       168
1        51
Name: count, dtype: int64

In [17]:
data['education'].value_counts()

education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

In [ ]:
# 3. 파생변수 생성
# 자본 이득 및 손실 그룹 통합
def capital_gain_loss_group(row):
    if row['capital-gain'] > 0:
        return 'Gain'
    elif row['capital-loss'] > 0:
        return 'Loss'
    else:
        return 'No_gain_or_loss'

data['capital_gain_loss_group'] = data.apply(capital_gain_loss_group, axis=1)

# 나이 그룹
bins = [0, 25, 40, 60, 100]
labels = ['Youth', 'Middle_Aged', 'Senior', 'Elderly']
data['age_group'] = pd.cut(data['age'], bins=bins, labels=labels)

# 근무 시간 그룹
bins = [0, 20, 40, 60, 100]
labels = ['Part_time', 'Full_time', 'Over_time', 'Excessive']
data['hours_per_week_group'] = pd.cut(data['hours-per-week'], bins=bins, labels=labels)

In [ ]:
# 4. 범주형 변수 인코딩
data['sex'] = data['sex'].map({'Male': 0, 'Female': 1})
data['marital-status'] = data['marital-status'].map({
    'Married-civ-spouse': 0, 'Divorced': 1, 'Never-married': 2,
    'Separated': 3, 'Widowed': 4, 'Married-spouse-absent': 5, 'Married-AF-spouse': 6
})
# 원핫 인코딩
data = pd.get_dummies(data, columns=['race', 'age_group', 'hours_per_week_group', 'capital_gain_loss_group', 'occupation', 'relationship'])

In [ ]:
# 5. 이상치 제거
numerical_cols = ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']
for col in numerical_cols:
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    data = data[(data[col] >= lower_bound) & (data[col] <= upper_bound)]

In [ ]:
# 6. 변수 선택 및 독립 변수 종족변수 분리
selected_features = ['sex', 'marital-status', 'education-num', ] + \
                    [col for col in data.columns if 'race_' in col] + \
                    [col for col in data.columns if 'age_group_' in col] + \
                    [col for col in data.columns if 'hours_per_week_group_' in col] + \
                    [col for col in data.columns if 'capital_gain_loss_group_' in col] + \
                    [col for col in data.columns if 'occupation' in col] + \
                    [col for col in data.columns if 'relationship' in col]

X = data[selected_features]
y = data['income'].map({'<=50K': 0, '>50K': 1})

In [ ]:
# 7. 데이터 표준화
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [ ]:
# 8. 데이터 셋을 학습용과 테스트용으로 나눔
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [ ]:
# 9. Logistic Regression 모델 생성 및 학습
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)

In [ ]:
# 10. 예측 및 평가
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

In [30]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

# 1. 데이터 로드
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status',
           'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
           'hours-per-week', 'native-country', 'income']
data = pd.read_csv(url, header=None, names=columns, na_values='?', skipinitialspace=True)


# 2. 결측치 처리
data = data.dropna()

# 3. 파생변수 생성
# 자본 이득 및 손실 그룹 통합
def capital_gain_loss_group(row):
    if row['capital-gain'] > 0:
        return 'Gain'
    elif row['capital-loss'] > 0:
        return 'Loss'
    else:
        return 'No_gain_or_loss'

data['capital_gain_loss_group'] = data.apply(capital_gain_loss_group, axis=1)

# 나이 그룹
bins = [0, 25, 40, 60, 100]
labels = ['Youth', 'Middle_Aged', 'Senior', 'Elderly']
data['age_group'] = pd.cut(data['age'], bins=bins, labels=labels)

# 근무 시간 그룹
bins = [0, 20, 40, 60, 100]
labels = ['Part_time', 'Full_time', 'Over_time', 'Excessive']
data['hours_per_week_group'] = pd.cut(data['hours-per-week'], bins=bins, labels=labels)


# 4. 범주형 변수 인코딩
data['sex'] = data['sex'].map({'Male': 0, 'Female': 1})
data['marital-status'] = data['marital-status'].map({
    'Married-civ-spouse': 0, 'Divorced': 1, 'Never-married': 2,
    'Separated': 3, 'Widowed': 4, 'Married-spouse-absent': 5, 'Married-AF-spouse': 6
})
# 원핫 인코딩
data = pd.get_dummies(data, columns=['race', 'age_group', 'hours_per_week_group', 'capital_gain_loss_group', 'occupation', 'relationship'])


# 5. 이상치 제거
numerical_cols = ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']
for col in numerical_cols:
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    data = data[(data[col] >= lower_bound) & (data[col] <= upper_bound)]


# 6. 변수 선택 및 독립 변수 종족변수 분리
selected_features = ['sex', 'marital-status', 'education-num', ] + \
                    [col for col in data.columns if 'race_' in col] + \
                    [col for col in data.columns if 'age_group_' in col] + \
                    [col for col in data.columns if 'hours_per_week_group_' in col] + \
                    [col for col in data.columns if 'capital_gain_loss_group_' in col] + \
                    [col for col in data.columns if 'occupation' in col] + \
                    [col for col in data.columns if 'relationship' in col]

X = data[selected_features]
y = data['income'].map({'<=50K': 0, '>50K': 1})

# 7. 데이터 선택 및 표준화
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)


# 8. 데이터 셋을 학습용과 테스트용으로 나눔
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)


# 9. Logistic Regression 모델 생성 및 학습
model = LogisticRegression()
model.fit(X_train, y_train)


# 10. 예측 및 평가
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.8469664138678223
Confusion Matrix:
 [[2747  200]
 [ 365  380]]
Classification Report:
               precision    recall  f1-score   support

           0       0.88      0.93      0.91      2947
           1       0.66      0.51      0.57       745

    accuracy                           0.85      3692
   macro avg       0.77      0.72      0.74      3692
weighted avg       0.84      0.85      0.84      3692